/* CSS VARS START */

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #f79c02;
  --color-required: #d42a21;
  --color-invalid: #d42a21;
  --color-valid: #1faa00;
  --color-input-border: #eeeeee;
  --color-input-text: #757575;

  --font-main: "Montserrat", sans-serif;
  --font-accent: "Old London", sans-serif;

  --font-size-1: 1rem;
  --font-size-1-5: calc(1.5 * var(--font-size-1));
  --font-size-2: calc(2 * var(--font-size-1));
  --font-size-3: calc(3 * var(--font-size-1));
  --font-size-4: calc(4 * var(--font-size-1));

  --font-thin: 100;
  --font-xlight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-demi-bold: 600;
  --font-bold: 700;
  --font-xbold: 800;
}

/* CSS VARS END */
