/* FOOTER START */

.footer {
  background: var(--color-primary);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  .footer__container {
    display: flex;
    justify-content: space-around;
    .footer__nav {
      .nav__list {
        display: flex;
        .list__item {
          margin-right: 2rem;
          color: var(--color-secondary);
        }
      }
    }
    .footer__copy {
      color: var(--color-secondary);
    }
  }
}

/* FOOTER END */
