/* PROJECTS START */
.carousel-container {
  max-width: 960px;
  width: 100%;
  overflow-x: hidden;
  padding-top: 2rem;
}

.main-card {
  width: 200%;
  display: flex;
  justify-content: space-evenly;
  transition: all 1s ease;
}

#two:checked ~ .main-card {
  margin-left: -100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2rem;
  width: calc(100% / 2 - 1rem);
}

.card:hover {
  transform: translateY(-2rem);
  transition: all 1s ease;
}

.btn--carousel {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.btn--carousel label {
  width: 1rem;
  height: 1rem;
  background: var(--color-primary);
  margin: 0 0.5rem;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.btn--carousel label.active {
  width: 4rem;
  border-radius: 2rem;
}

#one:checked ~ .btn--carousel label.one {
  width: 4rem;
  border-radius: 2rem;
}

#two:checked ~ .btn--carousel label.two {
  width: 4rem;
  border-radius: 2rem;
}

#one:checked ~ .btn--carousel label.two {
  width: 1rem;
  border-radius: 50%;
}

#two:checked ~ .btn--carousel label.one {
  width: 1rem;
  border-radius: 50%;
}

input[type="radio"] {
  display: none;
}

.projects {
  background: var(--color-accent);
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* title */
  .projects__title {
    margin: 0;
    font-family: var(--font-accent);
    font-size: var(--font-size-4);
    font-weight: var(--font-normal);
  }
  .projects__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    @media only screen and (min-width: 600px) {
      flex-direction: row;
    }
  }
}
/* PROJECTS END */
.project__card {
  width: 100%;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  padding: 0.5rem;
  margin-bottom: 2rem;
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    width: calc(100% / 2 - 1rem);
  }
  @media only screen and (min-width: 769px) {
    width: calc(100% / 3 - 1rem);
  }
}

.project__img {
  width: 100%;
  height: 214px;
  object-fit: cover;
}

.tag {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary);
  font-size: 0.75rem;
  font-weight: var(--font-demi-bold);
  color: var(--color-primary);
}

.project__title {
  font-size: 1.5rem;
  font-weight: var(--font-demi-bold);
  margin-top: 1rem;
}

p {
  font-size: 14px;
  color: var(--color-primary);
  line-height: 150%;
}

.project__details {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.btn--projects {
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.btn--projects:focus,
.btn--projects:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
