/* TAG START */
.skill__tag {
  padding: 1rem 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.skill__tag--default {
  color: var(--color-primary);
  background: var(--color-secondary);
}

.skill__tag--inverted {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

/* TAG END */
