/* BASE START */
body {
  font-family: var(--font-main);
}

.container,
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

/* 
CUSTOM CURSOR DOESN'T WORK
.test {
  width: 100px;
  height: 100px;
  background: red;
  cursor: url("../img/cursor.png");
} */

/* BASE END */
